body {
  min-width: 360px;

  .navbar {
    .user-profile-link {
      text-decoration: none;
    }

    #logoutForm {
      margin-left: 1rem;
      display: inline !important;
    }
  }

  .link {
    cursor: pointer;
  }

  .table {
    .thead-dark th {
      background: #0a66c2;
      border-color: #0959aa;
    }

    &.table-striped {
      tr {
        background: #ebebeb;

        &:hover, &:active, &:focus {
          background: #bdbdbd;
        }

        &:nth-of-type(odd) {
          background: #dbdbdb;

          &:hover, &:active, &:focus {
            background: #bdbdbd;
          }
        }
      }
    }
  }

  form {
    label {
      margin: 0;
    }

    .form-check {
      padding-right: .75rem;
      padding-left: .75rem;

      .form-check-input, input[type="checkbox"] {
        margin: 0;
        height: 1.2rem;
        width: 1.2rem;
      }

      .form-check-label, label {
        margin-left: 1.5rem;
      }
    }
  }

}