body {
  min-width: 360px;

  form {
    label {
      margin: 0;
    }

    .form-check {
      padding-right: .75rem;
      padding-left: .75rem;

      .form-check-input, input[type="checkbox"] {
        margin: 0;
        height: 1.2rem;
        width: 1.2rem;
      }

      .form-check-label, label {
        margin-left: 1.5rem;
      }
    }

    .custom-file {
      margin-top: 1rem;
      margin-bottom: 1rem;

      label {
        margin-right: .75rem;
        margin-left: .75rem;
      }
    }
  }

  .navbar {
    .user-profile-link {
      text-decoration: none;
    }

    #logoutForm {
      margin-left: 1rem;
      display: inline !important;
    }
  }

  .link {
    cursor: pointer;
  }

  .table {
    border-radius: .35rem;
    overflow: hidden;

    .thead-dark th {
      background: #4e73df;
      border-color: #4e73df;
    }

    tr {
      background: #fff;

      &:hover, &:active, &:focus {
        background: #eee;
      }
    }
  }

  .pagination {
    float: right;
  }

  .custom-heading-with-buttons {
    display: block;
    padding: 0;
    margin-bottom: 1rem;

    .custom-back-btn {
      margin-top: -1rem;
    }

    .custom-heading {
      display: inline-block;
      font-weight: 400;
      font-size: 2rem;
      line-height: 1.4;
      margin: 0;
      padding: 0;
    }

    .custom-buttons {
      display: block;
      margin: 1rem 0;

      .nav-item {
        display: inline-block;
        margin: .5rem .5rem .5rem 0;

        .nav-link {
          padding: .375rem .75rem;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .custom-heading-with-buttons {
      display: flex;

      .custom-back-btn {
        margin-top: 0;
      }

      .custom-buttons {
        display: flex;
        margin: 0;

        .nav-item {
          margin: 0 0 0 .5rem;
        }
      }
    }
  }

  .action-buttons {
    margin: .5rem -0.25rem;

    .btn {
      margin: .5rem .25rem;
    }
  }

  .text-align-right {
    text-align: right;
  }

  .display-block {
    display: block;
  }

}