@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;

  a {
    color: #0066cc;

    &:hover {
      color: #1a8cff;
    }
  }

  h1, h2, h3, h4 {
    font-weight: 300;
    margin-bottom: 1rem;
    color: #0959aa;
  }

  form {
    label {
      display: none;
    }

    p, .form-group {
      margin-bottom: 1rem;
    }

    small {
      font-size: 0.9rem;
    }

    .form-control {
      height: auto;
      font-size: 1rem;
      color: #444;
      padding: 0.75rem 0.5rem;
      border: 0;
      border-radius: 0;
      background: #e6e6e6;

      &:focus {
        font-size: 1rem;
        color: #222;
        background: #f9f9f9;
        box-shadow: 0 0 0.1rem rgb(0, 0, 0, 0.4);
      }
    }
  }

  .bg-dark {
    background: linear-gradient(135deg, #0a66c2, #0959aa);
  }

  .link {
    cursor: pointer;
  }

  .table {
    .thead-dark th {
      background: #0a66c2;
      border-color: #0959aa;
    }

    &.table-striped {
      tr {
        background: #ebebeb;

        &:hover, &:active, &:focus {
          background: #bdbdbd;
        }

        &:nth-of-type(odd) {
          background: #dbdbdb;

          &:hover, &:active, &:focus {
            background: #bdbdbd;
          }
        }
      }
    }
  }

  .navbar {
    margin-bottom: 2rem;

    li.nav-item {
      color: white;

      .btn {
        margin: 0;
      }

      &.logout {
        form {
          display: inline;

          .btn {
            margin-left: 1rem;
          }
        }
      }
    }
  }

  .card {
    border: 0;
    border-radius: 0;
    background: #fff;
    box-shadow: 0.2rem 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.4);

    .card-body {
      padding: 2rem 2rem 1rem;
    }
  }

  .btn {
    padding: 0.25rem 1rem;
    margin: 1rem .5rem;
    border: 0;
    border-radius: 0;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;

    &:hover, &:active, &:focus {
      cursor: pointer;
    }
  }

  .btn-primary {
    color: #ffffff;
    background: #0066cc;

    &:hover, &:active, &:focus {
      color: #e6e6e6;
      background: #004080;
    }
  }

  .btn-danger {
    color: #ffffff;
    background: #cc0000;

    &:hover, &:active, &:focus {
      color: #e6e6e6;
      background: #800000;
    }
  }

  .btn-light {
    color: #1a1a1a;
    background: #ffffff;

    &:hover, &:active, &:focus {
      color: #000000;
      background: #d9d9d9;
    }
  }

  .action-buttons {
    margin: 1rem -0.5rem;
  }
}