<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Test case list | TestCrowd</title>
    <link type="text/css" rel="stylesheet" href="/res/css/contrib/fontawesome-free.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/res/css/contrib/sb-admin-2.min.css">
    <link type="text/css" rel="stylesheet" href="/res/css/custom/default.css">
</head>

<body id="page-top">
<div id="wrapper">
    <ul th:insert="fragments/sidebar :: sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:insert="fragments/topbar :: topbar"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <div class="container-fluid">

                <nav class="navbar navbar-expand custom-heading-with-buttons">
                    <h1 class="navbar-brand text-gray-800 custom-heading">Test case list</h1>
                    <ul sec:authorize="${hasAnyAuthority('ADMIN', 'REPORTER')}"
                        class="navbar-nav ml-auto custom-buttons">
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary" th:href="@{/test-cases/add}">
                                <i class="fas fa-plus fa-sm mr-2 text-gray-400"></i> Add new test case</a>
                        </li>
                    </ul>
                </nav>
                <form class="d-none d-sm-inline-block form-inline mr-auto md-3 my-2 my-md-0 mw-100 navbar-search"
                      th:action="@{/test-cases(size=${testCases.size}, page=${testCases.number})}">
                    <div class="input-group">
                        <input class="form-control bg-white border-0 small" type="text" name="search"
                               th:value="${#httpServletRequest.getParameter('search')}" placeholder="search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search fa-sm text-white"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <br>
                <hr>

                <div th:switch="${testCases.getNumberOfElements()}">
                    <div th:case="0">There are no test cases yet.</div>
                    <div th:case="*">
                        <div class="table-responsive-md">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Test category</th>
                                    <th scope="col">Software type</th>
                                    <th scope="col">Time difficulty</th>
                                    <th scope="col">Skill difficulty</th>
                                    <th scope="col" class="text-align-right">Reward</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="testCase : ${testCases}" class="link"
                                    th:data-href="@{'/test-cases/' + ${testCase.id}}">
                                    <td><span th:text="${#strings.substring(testCase.id, 28, 32)}"
                                              th:title="${testCase.id}"></span></td>
                                    <td><span th:text="${testCase.name}"></span></td>
                                    <td><span th:text="${testCase.testCategory.name}"></span></td>
                                    <td><span th:text="${testCase.softwareType.name}"></span></td>
                                    <td><span class="fa fa-star"
                                              th:each="i : ${#numbers.sequence(1, 5, 1)}"
                                              th:classappend="${testCase.timeDifficulty >= i} ? 'checked' : ''"></span>
                                    </td>
                                    <td><span class="fa fa-star"
                                              th:each="i : ${#numbers.sequence(1, 5, 1)}"
                                              th:classappend="${testCase.skillDifficulty >= i} ? 'checked' : ''"></span>
                                    </td>
                                    <td class="text-align-right">
                                        <span th:text="${testCase.reward}"></span> Kr
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul th:if="${testCases.totalPages > 0}" class="pagination">
                            <li class="page-item" th:classappend="${testCases.number <= 0} ? disabled">
                                <a class="page-link"
                                   th:href="@{/test-cases(size=${testCases.size}, page=${testCases.number - 1}, search=${#httpServletRequest.getParameter('search')})}">Previous</a>
                            </li>
                            <li class="page-item" th:each="page : ${pages}"
                                th:classappend="${page==testCases.number} ? active">
                                <a class="page-link"
                                   th:href="@{/test-cases(size=${testCases.size}, page=${page}, search=${#httpServletRequest.getParameter('search')})}"
                                   th:text="${page} + 1"></a>
                            </li>
                            <li class="page-item"
                                th:classappend="${testCases.number >= testCases.totalPages - 1} ? disabled">
                                <a class="page-link"
                                   th:href="@{/test-cases(size=${testCases.size}, page=${testCases.number + 1}, search=${#httpServletRequest.getParameter('search')})}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <footer th:insert="fragments/footer :: footer" class="sticky-footer bg-white"></footer>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<script src="/res/js/contrib/jquery.min.js"></script>
<script src="/res/js/contrib/bootstrap.min.js"></script>
<script src="/res/js/contrib/fontawesome-free.min.js"></script>
<script src="/res/js/contrib/sb-admin-2.min.js"></script>
<script src="/res/js/custom/default.js"></script>
</body>
</html>
