<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Edit test case | TestCrowd</title>
    <link type="text/css" rel="stylesheet" href="/res/css/contrib/fontawesome-free.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/res/css/contrib/sb-admin-2.min.css">
    <link type="text/css" rel="stylesheet" href="/res/css/contrib/jquery-ui.min.css">
    <link type="text/css" rel="stylesheet" href="/res/css/custom/default.css">
</head>

<body id="page-top">
<div id="wrapper">
    <ul th:insert="fragments/sidebar :: sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:insert="fragments/topbar :: topbar"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <div class="container-fluid">

                <nav class="navbar navbar-expand custom-heading-with-buttons">
                    <a class="navbar-brand btn btn-primary btn-circle custom-back-btn" title="Go back"
                       th:href="@{'/test-cases/' + ${id}}"><i class="fas fa-arrow-left fa-lg"></i></a>
                    <h1 class="navbar-brand text-gray-800 custom-heading">Edit test case</h1>
                </nav>
                <form th:action="@{'/test-cases/' + ${id} + '/edit'}" th:object="${testCase}" method="post"
                      enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="name">Name</label>
                            <input class="form-control"
                                   type="text"
                                   id="name"
                                   th:field="*{name}"/>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('name')}"
                                   th:errors="*{name}">Error</small>
                        </div>
                        <div class="col-md-8 form-group">
                            <label for="description">Description</label>
                            <input class="form-control"
                                   type="text"
                                   id="description"
                                   th:field="*{description}"/>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('description')}"
                                   th:errors="*{description}">Error</small>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="skillDifficulty">Skill difficulty</label>
                            <input class="form-control"
                                   type="number"
                                   min="1"
                                   max="5"
                                   id="skillDifficulty"
                                   th:field="*{skillDifficulty}"/>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('skillDifficulty')}"
                                   th:errors="*{skillDifficulty}">Error</small>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="timeDifficulty">Time difficulty</label>
                            <input class="form-control"
                                   type="number"
                                   min="1"
                                   max="5"
                                   id="timeDifficulty"
                                   th:field="*{timeDifficulty}"/>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('timeDifficulty')}"
                                   th:errors="*{timeDifficulty}">Error</small>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="testCategory">Test category</label>
                            <select class="form-control"
                                    id="testCategory"
                                    th:field="*{testCategory.id}">
                                <option value="#" selected="selected">- select -</option>
                                <option th:each="testCategory : ${testCategories}"
                                        th:value="${testCategory.id}"
                                        th:text="${testCategory.name}"></option>
                            </select>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('testCategory.id')}"
                                   th:errors="*{testCategory.id}">Error</small>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="softwareType">Software type</label>
                            <select class="form-control"
                                    id="softwareType"
                                    th:field="*{softwareType.id}">
                                <option value="#" selected="selected">- select -</option>
                                <option th:each="softwareType : ${softwareTypes}"
                                        th:value="${softwareType.id}"
                                        th:text="${softwareType.name}"></option>
                            </select>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('softwareType.id')}"
                                   th:errors="*{softwareType.id}">Error</small>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="reward">Reward</label>
                            <input class="form-control"
                                   type="number"
                                   id="reward"
                                   th:field="*{reward}"/>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('reward')}"
                                   th:errors="*{reward}">Error</small>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="availableTo">Available to</label>
                            <input class="form-control datepicker"
                                   type="text"
                                   id="availableTo"
                                   th:field="*{availableTo}"/>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('availableTo')}"
                                   th:errors="*{availableTo}">Error</small>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="table-responsive-md">
                                <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Created At</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="file : ${testCase.files}">
                                        <td><span th:text="${file.fileName}"></span></td>
                                        <td><span
                                                th:text="${#dates.format(file.createdAt, 'MM/dd/yyyy HH:mm:ss')}"></span>
                                        </td>
                                        <td><a sec:authorize="${hasAnyAuthority('ADMIN', 'REPORTER')}"
                                               class="btn btn-primary"
                                               th:href="@{'/test-cases/' + ${testCase.id} + '/download/' + ${file.id}}">
                                            <i
                                                class="fas fa-download fa-sm mr-2 text-gray-400"></i>Download</a></td>
                                        <td><a sec:authorize="${hasAnyAuthority('ADMIN', 'REPORTER')}"
                                               class="btn btn-danger"
                                               th:href="@{'/test-cases/' + ${testCase.id} + '/delete/' + ${file.id}}">
                                            <i
                                                    class="fas fa-trash fa-sm mr-2 text-gray-400"></i>Delete</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <label for="file">File</label>
                                <input type="file" class="form-control-file" id="file" name="file" multiple>
                            </div>
                        </div>
                    </div>
                    <div class="form-group action-buttons">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save fa-sm mr-2 text-gray-400"></i> Save
                        </button>
                    </div>
                </form>

            </div>
        </div>
        <footer th:insert="fragments/footer :: footer" class="sticky-footer bg-white"></footer>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<script src="/res/js/contrib/jquery.min.js"></script>
<script src="/res/js/contrib/jquery-ui.min.js"></script>
<script src="/res/js/contrib/bootstrap.min.js"></script>
<script src="/res/js/contrib/fontawesome-free.min.js"></script>
<script src="/res/js/contrib/sb-admin-2.min.js"></script>
<script src="/res/js/custom/default.js"></script>
</body>
</html>
