<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>User edit | TestCrowd</title>
    <link type="text/css" rel="stylesheet" href="/res/css/contrib/fontawesome-free.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/res/css/contrib/sb-admin-2.min.css">
    <link type="text/css" rel="stylesheet" href="/res/css/custom/default.css">
</head>

<body id="page-top">
<div id="wrapper">
    <ul th:insert="fragments/sidebar :: sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:insert="fragments/topbar :: topbar"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <div class="container-fluid">

                <nav class="navbar navbar-expand custom-heading-with-buttons">
                    <a class="navbar-brand btn btn-primary btn-circle custom-back-btn" title="Go back"
                       th:href="@{'/users/' + ${id}}"><i class="fas fa-arrow-left fa-lg"></i></a>
                    <h1 class="navbar-brand text-gray-800 custom-heading">User edit</h1>
                </nav>
                <form th:action="@{'/users/' + ${id} + '/edit'}" th:object="${user}" method="post">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="username">Username</label>
                            <input class="form-control"
                                   type="text"
                                   id="username"
                                   th:field="*{username}"/>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('username')}"
                                   th:errors="*{username}">Error</small>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="email">Email</label>
                            <input class="form-control"
                                   type="text"
                                   id="email"
                                   th:field="*{email}"/>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('email')}"
                                   th:errors="*{email}">Error</small>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="firstName">First name</label>
                            <input class="form-control"
                                   type="text"
                                   id="firstName"
                                   th:field="*{firstName}"/>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('firstName')}"
                                   th:errors="*{firstName}">Error</small>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="lastName">Last name</label>
                            <input class="form-control"
                                   type="text"
                                   id="lastName"
                                   th:field="*{lastName}"/>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('lastName')}"
                                   th:errors="*{lastName}">Error</small>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="password">Password</label>
                            <input class="form-control form-control-user"
                                   type="password"
                                   id="password"
                                   th:field="*{password}"/>
                            <small id="passwordHelpInline">
                                You only need to fill in the password if you want to change it.
                            </small>
                            <small class="text-danger display-block"
                                   th:if="${#fields.hasErrors('password')}"
                                   th:errors="*{password}">Error</small>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="passwordConfirm">Confirm password</label>
                            <input class="form-control form-control-user"
                                   type="password"
                                   id="passwordConfirm"
                                   th:field="*{passwordConfirm}"/>
                            <small class="text-danger"
                                   th:if="${#fields.hasErrors('passwordConfirm')}"
                                   th:errors="*{passwordConfirm}">Error</small>
                        </div>
                    </div>
                    <div class="form-group action-buttons">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save fa-sm mr-2 text-gray-400"></i> Save
                        </button>
                    </div>
                </form>

            </div>
        </div>
        <footer th:insert="fragments/footer :: footer" class="sticky-footer bg-white"></footer>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<script src="/res/js/contrib/jquery.min.js"></script>
<script src="/res/js/contrib/bootstrap.min.js"></script>
<script src="/res/js/contrib/fontawesome-free.min.js"></script>
<script src="/res/js/contrib/sb-admin-2.min.js"></script>
<script src="/res/js/custom/default.js"></script>
</body>
</html>
