<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>User detail | TestCrowd</title>
    <link type="text/css" rel="stylesheet" href="/res/css/contrib/fontawesome-free.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/res/css/contrib/sb-admin-2.min.css">
    <link type="text/css" rel="stylesheet" href="/res/css/custom/default.css">
</head>

<body id="page-top">
<div id="wrapper">
    <ul th:insert="fragments/sidebar :: sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:insert="fragments/topbar :: topbar"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <div class="container-fluid">

                <div class="top-left-action-buttons-with-title">
                    <a class="btn btn-primary" th:href="@{/users}">
                        <i class="fas fa-chevron-left fa-sm mr-2 text-gray-400"></i> Back</a>
                    <h1 class="h3 mb-4 text-gray-800">User detail</h1>
                </div>
                <p><strong>ID:</strong> <span th:text="${user.id}"></span></p>
                <p><strong>Role type:</strong> <span th:text="${user.roleType}"></span></p>
                <p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
                <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
                <p><strong>First name:</strong> <span th:text="${user.firstName}"></span></p>
                <p><strong>Last name:</strong> <span th:text="${user.lastName}"></span></p>
                <div class="action-buttons">
                    <a class="btn btn-primary" th:href="@{'/users/' + ${user.id} + '/edit'}">Edit</a>
                    <a class="btn btn-danger" th:href="@{'/users/' + ${user.id} + '/delete'}">Delete</a>
                </div>

            </div>
        </div>
        <footer th:insert="fragments/footer :: footer" class="sticky-footer bg-white"></footer>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<script src="/res/js/contrib/jquery.min.js"></script>
<script src="/res/js/contrib/bootstrap.min.js"></script>
<script src="/res/js/contrib/fontawesome-free.min.js"></script>
<script src="/res/js/contrib/sb-admin-2.min.js"></script>
<script src="/res/js/custom/default.js"></script>
</body>
</html>
