<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>User list | TestCrowd</title>
    <link type="text/css" rel="stylesheet" href="/res/css/contrib/fontawesome-free.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/res/css/contrib/sb-admin-2.min.css">
    <link type="text/css" rel="stylesheet" href="/res/css/custom/default.css">
</head>

<body id="page-top">
<div id="wrapper">
    <ul th:insert="fragments/sidebar :: sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"></ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav th:insert="fragments/topbar :: topbar"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
            <div class="container-fluid">

                <h1 class="h3 mb-4 text-gray-800">User list</h1>
                <div th:switch="${users}">
                    <div th:case="null">No test cases yet!</div>
                    <div th:case="*">
                        <div class="table-responsive-md">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Role type</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}" class="link" th:data-href="@{'/users/' + ${user.id}}">
                                    <td><span th:text="${user.id}"></span></td>
                                    <td><span th:text="${user.roleType}"></span></td>
                                    <td><span th:text="${user.username}"></span></td>
                                    <td><span th:text="${user.email}"></span></td>
                                    <td><span th:text="${user.firstName}"></span></td>
                                    <td><span th:text="${user.lastName}"></span></td>
                                </tr>
                                </tbody>
                            </table>
                            <ul th:if="${users.totalPages > 0}" class="pagination">
                                <li class="page-item" th:classappend="${users.number <= 0} ? disabled">
                                    <a class="page-link"
                                       th:href="@{/users(size=${users.size}, page=${users.number - 1})}">Previous</a>
                                </li>
                                <li class="page-item" th:each="page : ${pages}"
                                    th:classappend="${page==users.number} ? active">
                                    <a class="page-link" th:href="@{/users(size=${users.size}, page=${page})}"
                                       th:text="${page} + 1"></a>
                                </li>
                                <li class="page-item"
                                    th:classappend="${users.number >= users.totalPages - 1} ? disabled">
                                    <a class="page-link"
                                       th:href="@{/users(size=${users.size}, page=${users.number + 1})}">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer th:insert="fragments/footer :: footer" class="sticky-footer bg-white"></footer>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<script src="/res/js/contrib/jquery.min.js"></script>
<script src="/res/js/contrib/bootstrap.min.js"></script>
<script src="/res/js/contrib/fontawesome-free.min.js"></script>
<script src="/res/js/contrib/sb-admin-2.min.js"></script>
<script src="/res/js/custom/default.js"></script>
</body>
</html>
