<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="sidebar">

<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-keyboard"></i>
    </div>
    <div class="sidebar-brand-text mx-3">TestCrowd</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<li class="nav-item" th:if="${#authentication.getName()} != 'anonymousUser'"
    th:classappend="${#httpServletRequest.requestURI == '/users'} ? 'active' : ''">
    <a class="nav-link" th:href="@{/users}">
        <i class="fas fa-users fa-fw mr-2"></i>
        <span>Users</span>
    </a>
</li>

<li class="nav-item" th:if="${#authentication.getName()} != 'anonymousUser'"
    th:classappend="${#httpServletRequest.requestURI == '/software-types'} ? 'active' : ''">
    <a class="nav-link" th:href="@{/software-types}">
        <i class="fas fa-desktop fa-fw mr-2"></i>
        <span>Software types</span>
    </a>
</li>

<li class="nav-item" th:if="${#authentication.getName()} != 'anonymousUser'"
    th:classappend="${#httpServletRequest.requestURI == '/test-categories'} ? 'active' : ''">
    <a class="nav-link" th:href="@{/test-categories}">
        <i class="fas fa-list fa-fw mr-2"></i>
        <span>Test categories</span>
    </a>
</li>

<li class="nav-item" th:if="${#authentication.getName()} != 'anonymousUser'"
    th:classappend="${#httpServletRequest.requestURI == '/tests'} ? 'active' : ''">
    <a class="nav-link" th:href="@{/tests}">
        <i class="fas fa-keyboard fa-fw mr-2"></i>
        <span>Tests</span>
    </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

</body>
</html>