<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="topbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item" th:if="${#authentication.getName()} != 'anonymousUser'">
            <a class="user-profile-link" th:href="@{/users/current}">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                  th:text="${#authentication.getName()}">username</span>
                <img class="img-profile rounded-circle" src="/res/img/user-placeholder.png">
            </a>
        </li>
        <li class="nav-item" th:if="${#authentication.getName()} != 'anonymousUser'">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                </button>
            </form>
        </li>
        <li class="nav-item" th:if="${#authentication.getName()} == 'anonymousUser'">
            <a class="btn btn-primary" th:href="@{/login}">
                <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i> Login
            </a>
        </li>

    </ul>

</nav>
</body>
</html>