<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error 404 | TestCrowd</title>
    <link href="/res/css/contrib/bootstrap.min.css" rel="stylesheet">
    <link href="/res/css/custom/default.css" rel="stylesheet">
    <link href="/res/css/custom/error.css" rel="stylesheet">
    <script src="/res/js/contrib/jquery-3.4.1.slim.min.js"></script>
    <script src="/res/js/contrib/popper.min.js"></script>
    <script src="/res/js/contrib/bootstrap.min.js"></script>
    <script src="/res/js/custom/default.js"></script>
</head>

<body class="error-page">
<div class="container">
    <h1>404</h1>
    <p class="subtitle">Page not found</p>
    <div class="card">
        <div class="card-body">
            <p>Sorry, we couldn't find the page you were looking for.</p>
            <p><a th:href="@{/}" class="btn btn-primary">Go home</a></p>
        </div>
    </div>
</div>
</body>
</html>