<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TestCases | TestCrowd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/contrib/css/bootstrap.min.css">
    <link rel="stylesheet" href="/custom/css/default.css">
    <script src="/contrib/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/contrib/js/popper.min.js"></script>
    <script src="/contrib/js/bootstrap.min.js"></script>
    <script src="/custom/js/default.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TestCrowd</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/}">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/list}">TestCases <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${testcases}" class="container my-5">
                <form action="#" th:action="@{/add}" method="post">
                    <button type="submit" name="add" value="" class="btn btn-primary">
                        Add testing TestCase
                    </button>
                </form>
                <br>
                <div class="col-md-10">
                    <h2 th:case="null">No test cases yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>UUID</th>
                                <th>Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="testcase : ${testcases}">
                                <td th:text="${testcase.id}"></td>
                                <td th:text="${testcase.name}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>