<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TestCases | TestCrowd</title>
</head>

<body>

<div class="container">
    <h1>Login page</h1>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">Username</label>:
            <input type="text"
                   id="username"
                   name="username"
                   class="form-control"
                   autofocus="autofocus"
                   placeholder="Username"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>:
            <input type="password"
                   id="password"
                   name="password"
                   class="form-control"
                   placeholder="Password"/>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="submit"
                           name="login-submit"
                           id="login-submit"
                           class="form-control btn btn-info"
                           value="Log In"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>