<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration | TestCrowd</title>
    <link rel="stylesheet" href="/contrib/css/bootstrap.min.css">
    <link rel="stylesheet" href="/custom/css/default.css">
    <link rel="stylesheet" href="/custom/css/registration.css">
    <script src="/contrib/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/contrib/js/popper.min.js"></script>
    <script src="/contrib/js/bootstrap.min.js"></script>
    <script src="/custom/js/default.js"></script>
</head>

<body class="registration-page">
<div class="container">
    <h1>Create account</h1>
    <div class="card">
        <div class="card-body">
            <form th:action="@{/registration}" th:object="${userForm}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control"
                           type="text"
                           id="username"
                           placeholder="username"
                           th:field="*{username}"/>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input class="form-control"
                           type="text"
                           id="email"
                           placeholder="e-mail"
                           th:field="*{email}"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control"
                           type="password"
                           id="password"
                           placeholder="password"
                           th:field="*{password}"/>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">Confirm password</label>
                    <input class="form-control"
                           type="password"
                           id="passwordConfirm"
                           placeholder="confirm password"
                           th:field="*{passwordConfirm}"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <p>Already registered? <a th:href="@{/login}">Log in</a></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>