<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List | TestCrowd</title>
    <link href="/res/css/contrib/bootstrap.min.css" rel="stylesheet">
    <link href="/res/css/custom/default.css" rel="stylesheet">
    <script src="/res/js/contrib/jquery-3.4.1.slim.min.js"></script>
    <script src="/res/js/contrib/popper.min.js"></script>
    <script src="/res/js/contrib/bootstrap.min.js"></script>
    <script src="/res/js/custom/default.js"></script>
</head>

<body class="list-page">
<div th:insert="fragments/navbar :: navbar">Navbar</div>
<div class="container">
    <h1>Test list</h1>
    <div th:switch="${testcases}">
        <form action="#" th:action="@{/add}" method="post">
            <button type="submit" name="add" value="" class="btn btn-primary">
                Add testing TestCase
            </button>
        </form>
        <br>
        <div th:case="null">No test cases yet!</div>
        <div th:case="*">
            <table class="table table-striped table-responsive-md">
                <thead class="thead-dark">
                <tr>
                    <th>UUID</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="testcase : ${testcases}">
                    <td><span th:text="${testcase.id}"></span></td>
                    <td><span th:text="${testcase.name}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>